html {
    background: #F7F7FC;
    font-family: 'Poppins', sans-serif;
}
.main {
    width: 1176px;
    margin: 0 auto;
    padding: 32px 31px;
}
.header {
    width: 100%;
    margin-bottom: 32px;
    display:flex; 
}
.photo {
    width: 242.5px;
    min-width: 242.5px;
    height: 242.5px;
    border-radius: 15px;
    background: url('../assets/photo.jpg') no-repeat;
    background-size: cover;
    margin-right: 32px;
}
.name {
    font-size: 50px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #545454
}
.position {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #6D6D6D;
    line-height: 1.5;
    text-transform: uppercase;
}
.name > span {
    font-weight: 400;
}
.line {
    height: 0;
    width: 100%;
    border-bottom: 2px solid #E8E8E8;
}
.main-container {
    background: rgba(0,0,0,0.1);
    width: 100%;
    min-height: 250px; /* убрать */
    margin-top: 32px;
}
.links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 27.5px;
    width: 600px;
}
.link{
    padding: 6px 12px;
    background: #fff;
    border-radius: 8px;
    display:flex;
    align-items: center;
    color: #6D6D6D;
    margin: 6px;

}
.link > img {
    margin-right: 12px
}